<app-header></app-header>
<div *ngIf="isLoggedIn()">
<div class="form">
  <form #form="ngForm" (submit)="onSubmit()">
    <div><label for="name">Tárgy neve:</label><input type="text" name="name" [(ngModel)]="model.name" #name="ngModel"/></div>
    <div><label for="category">Kategória:</label>
    <select name="category" [(ngModel)]="model.categoryId" #category="ngModel" >
      <option *ngFor="let category of itemService.categories" value="{{category.id}}">{{category.name}}</option>
    </select></div>
    <div><label for="file">Tárgyról készült kép: (jpeg formátum)</label><input type="file" name="file" [(ngModel)]="model.file" #file="ngModel" accept="image/jpeg" (change)="readUrl($event)"/></div>
    <div><label for="description">Tárgy részletes leírása:</label><textarea name="description" [(ngModel)]="model.description" #description="ngModel"></textarea></div>
    <div><label for="startPrice">Tárgy kezdő ára:</label><input type="text" name="startPrice" [(ngModel)]="model.startPrice"/></div>
    <div><label for="bidIncrement">Tárgy árának növekedése:</label><input type="text" name="bidIncrement" [(ngModel)]="model.bidIncrement"/></div>
    <div><label for="buyItPrice">Tárgy kivásárlási ára:</label><input type="text" name="buyItPrice" [(ngModel)]="model.buyItPrice" /></div>
    <div><label for="endTime">Aukció vége:</label><input type="datetime-local" name="endTime" [(ngModel)]="model.endTime"/></div>
    <div><input type="button" value="Feltölt!" (click)="onSubmit()"/></div>
  </form>
</div>
</div>