select{
    margin-left: 2px;
    margin-right: 2px;
    width: 120px;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-appearance: default-button;
}
#itemuploadlink a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}
#itemuploadlink a:visited { color: whitesmoke; }
#itemuploadlink a:active { color: deepskyblue; }
