<app-header></app-header>
<div class="form">
  <form #form="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Kategória: </label>
      <select name="name" [(ngModel)]="model.name" #name="ngModel" >
        <option>{{model.name}}</option>
        <option *ngFor="let category of categoryNames">{{category}}</option>
      </select>
    </div>
    <input type="submit" value="Szűrés!" />
  </form>
  <div id="itemuploadlink"><a routerLink="./itemupload">Új tárgy hozzáadása!</a></div>
</div>