<div id="itemlist">
  <table id="itemtable">
    <tr>
      <th>Tárgy neve</th>
      <th>Kép a tárgyról</th>
      <th>Vétel ár</th>
      <th>Link a tárgyhoz</th>
      <th>Licitálás</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td><img src="data:image/jpeg;base64,'{{item.picture}}'"/>CSS méretezés!</td>
        <td>{{item.buyItPrice}}</td>
        <td>Link a tárgyhoz</td>
        <td><input id="bid{{item.id}}" type="text" placeholder="{{item.currentPrice + item.bidIncrement}}"><input type="button" value="Licitálás!"/></td>
    </tr>
  </table>
</div>