<div id="itemlist">
  <table class="itemtable">
    <tr>
      <th>Tárgy neve</th>
      <th>Kép a tárgyról</th>
      <th>Vétel ár</th>
      <th>Link a tárgyhoz</th>
      <th>Licitálás</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td><img src="data:image/jpeg;base64,{{item.picture}}"/></td>
        <td>{{item.buyItPrice}}</td>
        <td><a routerLink="./item" (click)="setChosenItem(item.id)">Link a tárgyhoz</a></td>
        <td *ngIf="item.currentPrice<item.buyItPrice && !vege(item.id);then content else other_content"></td>
        <ng-template #content><td><input id="bid{{item.id}}" type="text" placeholder="{{item.currentPrice + item.bidIncrement}}"><input type="button" value="Licitálás!"/></td></ng-template>
        <ng-template #other_content><td><a class="vege">Elkelt!</a></td></ng-template>
    </tr>
  </table>
</div>