<app-header></app-header>
<div id="itemDetails">
  <form #form="ngForm">
  <table class="itemtable">
    <tr>
      <th>Tárgy neve</th>
      <th>Kép a tárgyról</th>
      <th>Leírás</th>
      <th>Vétel ár</th>
      <th>Aukció vége</th>
      <th *ngIf="!isOwner()">Licitálás</th>
    </tr>
    <tr *ngIf="!isOwner()">
        <td>{{item.name}}</td>
        <td><img src="data:image/jpeg;base64,{{item.picture}}"/></td>
        <td>{{item.description}}</td>
        <td>{{item.buyItPrice}}</td>
        <td>{{item.endTime | date : 'yyyy.MM.dd HH:mm:ss'}}</td>
        <td *ngIf="item.currentPrice<item.buyItPrice && !vege(item.id);then licit else elkelt"></td>
          <ng-template #licit><td><input type="text"
          name="bid" [(ngModel)]="model.bid"
          #bid="ngModel"
          placeholder="{{item.currentPrice + item.bidIncrement}}">
          <input type="button" value="Licitálás!" (click)="makebid()"/></td>
        </ng-template>
        <ng-template #elkelt><td><a class="vege">Elkelt!</a></td></ng-template>
    </tr>
    <tr *ngIf="isOwner()">
      
        <td><input type="text" name="name" [(ngModel)]="item.name" #name="ngModel"/></td>
        <td><img src="data:image/jpeg;base64,{{item.picture}}"/><input type="file" name="file" [(ngModel)]="item.file" #file="ngModel" accept="image/jpeg" (change)="readUrl($event)"/></td>
        <td><textarea name="description" [(ngModel)]="item.description" #description="ngModel"></textarea></td>
        <td><div *ngIf="item.currentPrice==item.startPrice"><input type="text" name="buyItPrice" [(ngModel)]="item.buyItPrice" /></div><div *ngIf="item.currentPrice>item.startPrice">{{item.buyItPrice}}</div></td>
        <td *ngIf="(item.currentPrice>=item.buyItPrice || vege())"><a class="vege" *ngIf="vege()">Lejárt az aukció!</a><a class="vege" *ngIf="!vege()">Elkelt!</a></td>
        <td *ngIf="item.currentPrice<item.buyItPrice && !vege()"><input type="button" value="Módosít!" (click)="modify()"></td>
    </tr>
  </table>

  </form>
</div>