<app-header></app-header>
<div id="settings">
  <!--<div id=userList *ngIf="authService.user.role=='ADMIN'">
    <ul *ngFor="let user of searchService.users">
       <li>{{user}} <input type="button" value="Bann" (click)="authService.bann(user)"></li>
    </ul>
  </div>
  <div id=songList *ngIf="authService.user.role=='ADMIN'">
    <ul *ngFor="let song of searchService.songs">
       <li>{{song.title}} {{song.owner}}<input type="button" value="Delete" (click)="songService.delete(song)"></li>
    </ul>
  </div>-->
  <div id=categoryAdd *ngIf="authService.user.role=='ADMIN'">
    <form #form="ngForm" (submit)="onSubmitCategory()">
      <div class="form-group">
        <label for="category">Kategória:</label>
        <input type="text" required name="category" [(ngModel)]="model2.name" #name="ngModel" (change)="categoryExists()"/>
        <div class="error" *ngIf="name.invalid && name.touched">
          <span *ngIf="name.errors.required">Kötelező Mező</span>
          <span *ngIf="categoryExists()">Van már ilyen kategória!</span>
        </div>
      </div>
      <input type="submit" value="Hozzáadás"/>
    </form>
  </div>
<!--  <div id="changePassword">
    <form #form="ngForm" (submit)="onSubmitPW()">
      <div class="form-group">
        <label for="password">Jelszó:</label>
        <input type="password"
               required
               name="password" [(ngModel)]="model.password"
               #password="ngModel" />
        <div class="error" *ngIf="password.invalid && password.touched" >
          <span *ngIf="password.errors.required">Kötelező mező</span>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordAgain">Jelszó ismét:</label>
        <input type="password"
               required
               name="passwordAgain" [(ngModel)]="model.passwordAgain"
               #passwordAgain="ngModel" />
        <div class="error" *ngIf="passwordAgain.invalid && passwordAgain.touched" >
          <span *ngIf="passwordAgain.errors.required">Kötelező mező</span>
        </div>
          <span *ngIf="pwsNotMatching()">Jelszó nem egyezik!</span>
      </div>
      <input type="submit" value="Mentés" />
      <input type="reset" value="Törlés" />
    </form>
  </div>
</div>-->